# Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:


    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
Use Series attributes and methods to explore your fruits Series.

Determine the number of elements in fruits.

Output only the index from fruits.

Output only the values from fruits.

Confirm the data type of the values in fruits.

Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

Run the code necessary to produce only the unique string values from fruits.

Determine how many times each unique string value occurs in fruits.

Determine the string value that occurs most frequently in fruits.

Determine the string value that occurs least frequently in fruits.

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [5]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
print(fruits)

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [6]:
#1 Determine the number of elements in fruits.

fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [7]:
fruits.count()

17

In [11]:
#2 Output only the index from fruits.

fruits.sort_index()

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [23]:
#3 Output only the values from fruits.

fruits.sort_values()

14          blackberry
13           blueberry
4           gala apple
15          gooseberry
5     honeycrisp apple
8             honeydew
11                kiwi
10                kiwi
9                 kiwi
0                 kiwi
12               mango
1                mango
16              papaya
3            pineapple
2           strawberry
6               tomato
7           watermelon
dtype: object

In [25]:
#4 Confirm the data type of the values in fruits.

type(fruits)

pandas.core.series.Series

In [38]:
#5 Output only the first five values from fruits. 
#Output the last three values. 
#Output two random values from fruits.

first_five = fruits.head(5)
last_three = fruits.tail(3)
two_random = fruits.sample(2)
print(first_five, last_three, two_random)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object 14    blackberry
15    gooseberry
16        papaya
dtype: object 11          kiwi
4     gala apple
dtype: object

In [41]:
#6 Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [42]:
#7 Run the code necessary to produce only the unique string values from fruits.
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [62]:
#8 Determine how many times each unique string value occurs in fruits.
unique_value = fruits.value_counts()

print(unique_value)

kiwi                4
mango               2
gooseberry          1
watermelon          1
tomato              1
blueberry           1
gala apple          1
papaya              1
strawberry          1
blackberry          1
pineapple           1
honeycrisp apple    1
honeydew            1
dtype: int64

In [58]:
#9 Determine the string value that occurs most frequently in fruits.
fruits.value_counts().nlargest(n = 1, keep = "all")

kiwi    4
dtype: int64

In [59]:
#10 Determine the string value that occurs least frequently in fruits.

counts = fruits.value_counts()
min_count = counts.min()
print(counts.where(counts == min_count).dropna())

gooseberry          1.0
watermelon          1.0
tomato              1.0
blueberry           1.0
gala apple          1.0
papaya              1.0
strawberry          1.0
blackberry          1.0
pineapple           1.0
honeycrisp apple    1.0
honeydew            1.0
dtype: float64

In [40]:
# another way to answer #10 Determine the string value that occurs least frequently in fruits.
fruits.value_counts().nsmallest(n = 1, keep = "all")

gooseberry          1
watermelon          1
tomato              1
blueberry           1
gala apple          1
papaya              1
strawberry          1
blackberry          1
pineapple           1
honeycrisp apple    1
honeydew            1
dtype: int64