# Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:


    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
Use Series attributes and methods to explore your fruits Series.

Determine the number of elements in fruits.

Output only the index from fruits.

Output only the values from fruits.

Confirm the data type of the values in fruits.

Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

Run the code necessary to produce only the unique string values from fruits.

Determine how many times each unique string value occurs in fruits.

Determine the string value that occurs most frequently in fruits.

Determine the string value that occurs least frequently in fruits.

In [4]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [5]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
print(fruits)

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [6]:
#1 Determine the number of elements in fruits.

fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [7]:
fruits.count()

17

In [8]:
#2 Output only the index from fruits.
#fruits.index
#fruits.index.tolist()

fruits.sort_index()

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [9]:
#3 Output only the values from fruits.
# fruits.values
# fruits.values.tolist()

fruits.sort_values()

14          blackberry
13           blueberry
4           gala apple
15          gooseberry
5     honeycrisp apple
8             honeydew
11                kiwi
10                kiwi
9                 kiwi
0                 kiwi
12               mango
1                mango
16              papaya
3            pineapple
2           strawberry
6               tomato
7           watermelon
dtype: object

In [10]:
#4 Confirm the data type of the values in fruits.
#fruits.dtype
type(fruits)

pandas.core.series.Series

In [11]:
#5 Output only the first five values from fruits. 
#Output the last three values. 
#Output two random values from fruits.

first_five = fruits.head(5)
last_three = fruits.tail(3)
two_random = fruits.sample(2)
print(first_five, 
      last_three, 
      two_random)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object 14    blackberry
15    gooseberry
16        papaya
dtype: object 13     blueberry
14    blackberry
dtype: object

In [12]:
#6 Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [13]:
#7 Run the code necessary to produce only the unique string values from fruits.
# fruits.unique.tolist()
# fruits.nunique() #number of unique values
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [14]:
#8 Determine how many times each unique string value occurs in fruits.

unique_value = fruits.value_counts()

print(unique_value)

kiwi                4
mango               2
watermelon          1
strawberry          1
blueberry           1
papaya              1
pineapple           1
honeydew            1
tomato              1
blackberry          1
honeycrisp apple    1
gala apple          1
gooseberry          1
dtype: int64

In [15]:
#9 Determine the string value that occurs most frequently in fruits.
# fruits.value_counts().head(1)
# fruits.value_counts().idxmax() -- only returns the first occurance "kiwi"

fruits.value_counts().nlargest(n = 1, keep = "all")

kiwi    4
dtype: int64

In [16]:
#10 Determine the string value that occurs least frequently in fruits.

counts = fruits.value_counts()
min_count = counts.min()
print(counts.where(counts == min_count).dropna())

watermelon          1.0
strawberry          1.0
blueberry           1.0
papaya              1.0
pineapple           1.0
honeydew            1.0
tomato              1.0
blackberry          1.0
honeycrisp apple    1.0
gala apple          1.0
gooseberry          1.0
dtype: float64

In [17]:
# another way to answer #10 Determine the string value that occurs least frequently in fruits.
fruits.value_counts().nsmallest(n = 1, keep = "all")

watermelon          1
strawberry          1
blueberry           1
papaya              1
pineapple           1
honeydew            1
tomato              1
blackberry          1
honeycrisp apple    1
gala apple          1
gooseberry          1
dtype: int64

# Exercises Part II
Explore more attributes and methods while you continue to work with the fruits Series.

1 Capitalize all the string values in fruits.

2 Count the letter "a" in all the string values (use string vectorization).

3 Output the number of vowels in each and every string value.

4 Write the code to get the longest string value from fruits.

5 Write the code to get the string values with 5 or more letters in the name.

6 Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

7 Write the code to get only the string values containing the substring "berry".

8 Write the code to get only the string values containing the substring "apple".

9 Which string value contains the most vowels?

In [18]:
# 1 Capitalize all the string values in fruits.
fruits.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

In [37]:
# 2 Count the letter "a" in all the string values (use string vectorization).
count_fruit = fruits.str.count('a').sum()
print(count_fruit)

14

In [39]:
# 3 Output the number of vowels in each and every string value.
num_vowels = fruits.str.count(r'[aeiou]')
print(num_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [84]:
# 4 Write the code to get the longest string value from fruits.
fruit_length = fruits.str.len()
fruit_length.max()

16

In [82]:
#4 easier one liner
fruit_length_1 = max(fruits.str.len())
print(fruit_length_1)
# max(fruits, key=len)

16

In [85]:
# 5 Write the code to get the string values with 5 or more letters in the name.
fruit_length_5 = fruit_length[fruit_length >= 5]
print(fruit_length_5)

1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
12     5
13     9
14    10
15    10
16     6
dtype: int64

In [96]:
# 6 Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.
mask = fruits.apply(lambda n: n.count('o') >= 2)
print(fruits[mask])

6         tomato
15    gooseberry
dtype: object

In [112]:
# 7 Write the code to get only the string values containing the substring "berry".
# mask = fruits.apply(lambda row: 'berry' in row)
# fruits[mask]
berry_mask = fruits.apply(lambda n: "berry" in n)
fruits[berry_mask]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [113]:
# 8 Write the code to get only the string values containing the substring "apple".
#print(data[data.str.contains("apple")])
apple_1 = fruits[fruits.str.contains("apple")]
print(apple_1)

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [121]:
# 9 Which string value contains the most vowels?
#fruits[fruits.apply(vowel_counter) == fruits.apply(vowel_counter).max()]

fruits[max(fruits.str.count(r'[aeiou]'))]

'honeycrisp apple'